extends ../layout

block content
  main
    div.content-header
      h2 #{sport.name} Team Directory
      div.crud-btn-container
        a(href=`./${sport.id}/edit`): button.crud-btn EDIT SPORT
        a(href=`./${sport.id}/delete`): button.del-btn.crud-btn DELETE SPORT
    br
    hr
    br
    section
    if athletes.length > 0
      h3 ATHLETES
      table
        tr
          th #
          th Name
          th Sex 
          th Height (cm) 
          th Weight (kg) 
          th Sport 
          th Date of Birth
        for athlete,index in athletes 
          tr
            td.align-center #{index+1}
            td: a(href=athlete.url) #{athlete.fullname}
            td.align-center #{athlete.sex}
            td.align-center #{athlete.height}
            td.align-center #{athlete.weight}
            td.align-center #{athlete.sportname}
            td.align-center #{athlete.dateofbirthformatted}
    else 
      p There are no athletes for this sport
    br
    hr
    br
    if staffList.length > 0
      h3 STAFF
      table
        tr
          th #
          th Name
          th Sport 
          th Designation
        for staff,index in staffList 
          tr
            td.align-center #{index+1}
            td: a(href=staff.url) #{staff.fullname}
            td.align-center #{staff.sportname}
            td #{staff.designation}
    else 
      p There are no staff for this sport