extends ../layout

block content
  main
    div.content-header
      h2 Athlete Particulars - #{athlete.fullName}
    br
    hr
    div.athlete-details-container
      section.details-container
        div.img-holder
          if athlete.image.path
            img.avatar(src=`/images/uploads/${athlete.image.filename}`)
          else 
            img.avatar(src='/images/avatar.png')
        div.athlete-details
          div 
            div.label #[strong Name]  
            div : #{athlete.fullName}
          div 
            div.label #[strong Sex]  
            div : #{athlete.sex}
          div 
            div.label #[strong Height] 
            div : #{athlete.height}cm
          div 
            div.label #[strong Weight] 
            div : #{athlete.weight}kg
          div 
            div.label #[strong Sport] 
            div
              span : 
                a(href=athlete.sport.url) #{athlete.sport.name}
          div 
            div.label #[strong Date of Birth] 
            div : #{athlete.dateOfBirthFormatted}
      div.crud-btn-container
        a(href=`${athlete._id}/edit`): button.crud-btn EDIT PROFILE
        a(href=`${athlete._id}/change-profile-pic`): button.crud-btn CHANGE PROFILE PICTURE
        a(href=`${athlete._id}/delete`): button.del-btn.crud-btn DELETE PROFILE