extends ../layout

block content
  main
    div.content-header
      h2 Athlete Particulars - #{athlete.fullname}
    br
    hr
    div.athlete-details-container
      section.details-container
        div.img-holder
          if image_path
            img.avatar(src=`/images/uploads/${image_filename}`)
          else 
            img.avatar(src='/images/avatar.png')
        div.athlete-details
          div 
            div.label #[strong Name]  
            div : #{athlete.fullname}
          div 
            div.label #[strong Sex]  
            div : #{athlete.sex}
          div 
            div.label #[strong Height] 
            div : #{athlete.height}cm
          div 
            div.label #[strong Weight] 
            div : #{athlete.weight}kg
          div 
            div.label #[strong Sport] 
            div
              span : 
                a(href=athlete.sporturl) #{athlete.sportname}
          div 
            div.label #[strong Date of Birth] 
            div : #{athlete.dateofbirthformatted}
      div.crud-btn-container
        a(href=`${athlete.id}/edit`): button.crud-btn EDIT PROFILE
        a(href=`${athlete.id}/change-profile-pic`): button.crud-btn CHANGE PROFILE PICTURE
        a(href=`${athlete.id}/delete`): button.del-btn.crud-btn DELETE PROFILE